<form class="form-horizontal" ng-controller="EditCtrl" ng-submit="edit()">

    <!-- Form Name -->
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="fname">First Name</label>
      <div class="col-md-5">
        <input id="fname" name="fname" type="text" placeholder="Enter First name" class="form-control" ng-model="person.firstName" capitalize-first>

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="lname">Last Name</label>
      <div class="col-md-5">
        <input id="lname" name="lname" type="text" placeholder="Enter Last name" class="form-control" ng-model="person.lastName" capitalize-first>

      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-3 control-label" for=""></label>
      <div class="col-lg-6">
        <button class="btn btn--m btn--blue btn--fab" lx-ripple value="Save" type="submit"><i class="mdi mdi--save"></i></button>
      </div>
    </div>
</form>