<form class="form-horizontal" ng-submit="add()">

    <!-- Form Name -->

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="fname">First Name</label>
      <div class="col-md-5">
        <input id="fname" name="fname" type="text" placeholder="Enter First name" class="form-control" ng-model="firstName" capitalize-first>

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="lname">Last Name</label>
      <div class="col-md-5">
        <input id="lname" name="lname" type="text" placeholder="Enter Last name" class="form-control" ng-model="lastName" capitalize-first>

      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-3 control-label" for=""></label>
      <div class="col-lg-6">
        <button class="btn btn--m btn--blue btn--fab" lx-ripple value="Save" type="submit"><i class="mdi mdi--add"></i></button>
      </div>
    </div>

</form>



  <form class="form-horizontal">
  <div class="form-group required-control">
    <label class="col-md-3 control-label" for="search">Search:</label>
    <div class="col-md-5">
      <input id="searchName" name="searchName" type="text" placeholder="Search Name" class="form-control input-sm" required="true" ng-model="search">
    </div>
  </div>
  </form>

<div class="row">
  <table class="table">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      <tr ng-repeat="(id, name) in person | filter:search">
        <td>{{name.firstName}}</td>
        <td>{{name.lastName}}</td>
        <td>
          <!--        <a href="#/edit/{{name.$id}}">Edit</a>-->
          <a href="#/edit/{{name.$id}}" class="btn btn--m btn--blue btn--fab" lx-ripple><i class="mdi mdi--edit"></i></a>
          </t>
          <td>
            <button class="btn btn--m btn--blue btn--fab" lx-ripple value="Save" type="submit" ng-click="remove(id)"><i class="mdi mdi--remove"></i></button>
          </td>
      </tr>
    </tbody>
  </table>
</div>