<div class="container">
  <div class="page-header text-center">
    <h1>My Schedule</h1>
  </div>
  <div class="row times">
    <div class="col-xs-4 text-center" ng-repeat="day in days">
      <h2>{{day.name}}</h2>
      <div class="time-slot" ng-repeat="slot in day.slots">
        <input type="checkbox" id="{{day.name}}-{{$index}}" ng-model="slot.booked" ng-disabled="slot.booked">
        <label for="{{day.name}}-{{$index}}">{{slot.time}}</label>
        <span ng-if="slot.booked">Booked</span>
        <span ng-if="!slot.booked">Available</span>
      </div>
    </div>
  <p class="text-center">
    <a href="#/schedule" class="btn btn--m btn--blue btn--raised" lx-ripple ng-click="reset()" >Reset</a>
  </p>
</div>