<p>An AngularJS module that makes Web Storage working in the Angular Way</p>

<button ng-click="save()">Reset</button>
<button ng-click="load()">Load</button>
<button ng-click="delete()">Delete</button>

<br>
<br>

<br>JSON: <pre>{{data}}</pre>
<br>
<h3>{{data.firstname}} {{data.lastname}}</h3>




<form class="form-horizontal" ng-controller="StoragetestCtrl" ng-submit="save()">

    <!-- Form Name -->
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="fname">First Name</label>
      <div class="col-md-5">
        <input id="fname" name="fname" type="text" placeholder="Enter First name" class="form-control" ng-model="data.firstname" first-capital>

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="lname">Last Name</label>
      <div class="col-md-5">
        <input id="lname" name="lname" type="text" placeholder="Enter Last name" class="form-control" ng-model="data.lastname" first-capital>

      </div>
    </div>
</form>